<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Cursos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style_admin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header_footer.css}"/>
    <link rel="icon" type="image/png" th:href="@{/images/icons/favicon.ico}"/>
</head>
<body>
    <header>
        <div id="parte_meio">
            <div class="centralizar">
                <div id="logo"></div>

                <div class="clear"></div>
            </div>
        </div>

        <div class="clear"></div>
    </header>
    
    <div id="conteudo"> 
        <div id="parte_menu">
            <div id="nome">
                <p>Bem Vinda Verônica</p>
            </div>

            <hr> 

            <div class="menu">
                <div class="img">
                    <img th:src="@{/images/icons/eye-3-24.png}">
                </div>
                <a th:href="@{/cursos/admin}">Visualizar Cursos</a>

                <div class="clear"></div>
            </div>

            <div class="menu">
                <div class="img">
                    <img th:src="@{/images/icons/eye-3-24.png}">
                </div>
                <a th:href="@{/categorias}">Visualizar Categorias</a>

                <div class="clear"></div>
            </div>

            <div class="menu">
                <div class="img">
                    <img th:src="@{/images/icons/add-24.png}">
                </div>
                <a th:href="@{/cursos/insert}">Adicionar Cursos</a>

                <div class="clear"></div>
            </div>          
        
            <div class="menu">
                <div class="img">
                    <img th:src="@{/images/icons/add-24.png}">
                </div>
                <a th:href="@{/categorias/insert}">Adicionar Categorias</a>

                <div class="clear"></div>
            </div>

            <div class="menu">
                <div class="img">
                    <img th:src="@{/images/icons/arrow-92-24.png}">
                </div>
                <a>Sair</a>

                <div class="clear"></div>
            </div>
        </div>

        <div id="cursos">
            <a th:href="@{'/cursos/desc/' + ${cursoObject.Id}}" th:each="cursoObject : ${cursos}">
            	<div class="produtos">
	                <div class="foto_produto">
	                    <img src="images/produtos/roupas/7.jpg">
	                </div>
	
	                <div class="informacoes_produto">
	                    <h2 th:text="${cursoObject.Nome}"></h2>
	                    <p>A PARTIR DE</p>
	                    <h4 th:text="${cursoObject.ValorDesc}" style="font-size: 18px;"></h4>
	                    <p th:text="${cursoObject.ValorAtual}" class="promocao"></p>
	                    <a th:href="@{'/cursos/' + ${cursoObject.Id} + '/update'}">
	                        <button>EDITAR</button>
	                    </a>
	                    <form th:action="@{'/cursos/' + ${cursoObject.Id} + '/delete'}" method="post">
	                        <button>EXCLUIR</button>
	                    </form>
	                </div>
	            </div>
            </a>
        </div>
                    <div class="clear"></div>
    </div>

    <div class="clear"></div>

    <footer>
        <div id="parte_azul">
            <div id="parte_branca"></div>
        </div>

        <div id="parte_inferior">
            <div class="final">
                <p>Acme</p>
            </div>

            <div class="final">
                <img th:src="@{/images/logo/logo1.png}">
            </div>

            <div class="final">
                <p>Todos os direitos reservados</p>
            </div>

            <div class="clear"></div>
        </div>
    </footer>
</body>
</html>