.organizaçao {
    min-width: 930px;
    max-width: 1300px;
    margin: 40px auto;
}

h1 {
    font-size: 28px;
}

#fotao {
    width: 55%;
    float: left;
    padding: 0 0 0 5%;
}

#informacoes_produto {
    width: 25%;
    float: right;
    padding: 0 7% 0 0;
}

#preco {
    width: 100%;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(163,163,163,1);
    -moz-box-shadow: 2px 2px 6px 0px rgba(163,163,163,1);
    box-shadow: 2px 2px 6px 0px rgba(163,163,163,1);
    padding-bottom: 20px;
}

#foto {
    width: 100%;
    height: 180px;
    background-color: rgb(108,99,255);
}

.texto {
    padding-bottom: 8px;
}

#promocao {
    width: 80px;
    background-color: rgb(176, 172, 255);
    font-size: 15px;
    margin: 15px 15px 5px 25px;
    text-align: center;
    padding: 2px;
}

#preco h1 {
    font-size: 35px;
    float: left;
    margin: 5px 15px 5px 25px;
}

#preco_antigo {
    float: left;
    color: rgb(102, 102, 102);
    text-decoration: line-through rgb(102, 102, 102);
    margin-top: 18px;
    font-size: 18px;
}

#desconto {
    margin-left: 25px;
    color: rgb(102, 102, 102);
    margin-bottom: 10px;
}

button {
    width: 85%;
    height: 48px;
    margin: 5px 7.5%;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding-top: 4px;
    border-radius: 5px;
}

#carrinho {
    background-color: rgb(108,99,255);
    background: -webkit-linear-gradient(right, rgb(108,99,255), rgb(89, 86, 131));
    background: -o-linear-gradient(right, rgb(108,99,255), rgb(89, 86, 131));
    background: -moz-linear-gradient(right, rgb(108,99,255), rgb(89, 86, 131));
    background: linear-gradient(right, rgb(108,99,255), rgb(89, 86, 131));
    color: white;
}

